/* .App {
  text-align: center;
} */
body{
  /*background: radial-gradient(circle at center, black, orange, blue);*/
  color:white;
  background-color: #42378f;
  background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%);
}

.App-link {
  color: #61dafb;
}
main{
  display: grid;
  grid-template-columns: auto auto auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#Home{
  background-color:transparent !important;
}
progress#main{
  transform: rotate(270deg);
  position: fixed;
  left: 1px;
}
.controls{
  position: fixed;
  bottom:5px;
}

/* menu */
